env
myvenv

.git
.gitignore

LearningLand/__pycache__/
LearningLand/*/__pycache__/
LearningLand/*/*/__pycache__/
LearningLand/*/*/*/__pycache__/

Landing/__pycache__/
Landing/*/__pycache__/
Landing/*/*/__pycache__/
Landing/*/*/*/__pycache__/

Users/__pycache__/
Users/*/__pycache__/
Users/*/*/__pycache__/
Users/*/*/*/__pycache__/