{% extends 'landing/dashboard_base.html' %}


{% block title %}
{{ article_title }}
{% endblock title %}




{% block content %}

    <figure class="dash-article">
	    <article class="landing-post px-3 py-5 p-md-5">
		    <div class="container">
			    <header class="landing-post-header">
				    <h2 class="title mb-2">{{ article.title }}</h2>
				    <div class="meta mb-3">
                        {% if article.status == "PUBLISHED" %}
                           <span class="date">Published {{ article.date_published.date|timesince}} ago</span>
                        {% else  %}
                            <span class="date">Created {{ article.date_created.date|timesince}} ago</span>
                        {% endif %}
                      <div class="float-right">
                
                       
                    </div>
                    </div>

			    </header>

			    <div class="landing-post-body">
				    <figure class="landing-banner">
				        <img class="img-fluid" id="article-detail-image" src="{{ article.image.url }}" alt="image">
				       {% if article.image_credit %}
                           <figcaption class="mt-2 text-center image-caption">
                            Image Credit: {{ article.image_credit}})
                        </figcaption>
                       {% endif %}
                    </figure>
				    <p>{{ article.body | safe }}</p>
                </div>
                <br>
                <ul>
                    {% for tag in article.tags.all %}
                        <span class="badge badge-dark text-white">{{ tag.name }}</span>
                    {% endfor %}
                </ul>
            </div>
        </article>
    </figure>
{% endblock content %}